<header>
  <span>Listado de productos</span>
  <button (click)="goFormProductForCreate()">Agregar</button>
</header>

<section>
  <table>
    <thead>
      <th class="logo">Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
    </thead>

    <tbody>
      <tr *ngFor="let product of catalog">
        <td class="logo">
          <img [src]="product.logo" />
        </td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.releaseDateFormat}}</td>
        <td>{{product.revisionDateFormat}}</td>
      </tr>
    </tbody>
  </table>
</section>

<footer></footer>
