<header>
  <span>Listado de productos</span>
  <button (click)="goFormProductForCreate()">Agregar</button>
</header>

<section>
  <table>
    <thead>
      <th>Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
    </thead>

    <tbody>
      <tr>
        <td></td>
        <td>Tarjeta de crédito</td>
        <td>Sin descripción</td>
        <td>01/01/2020</td>
        <td>01/01/2021</td>
      </tr>
    </tbody>
  </table>
</section>

<footer></footer>
