catalog-products-page {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  padding: 0rem 1.5rem;
  box-sizing: border-box;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
  }

  .catalog-products {
    &__search {
      background: var(--background-devsu-500);
      padding: 0.5rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      box-shadow: var(--shadow-devsu-4);
    }
  }

  table {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: var(--shadow-devsu-4);
    background: var(--background-devsu-500);
    border-radius: 0.5rem;

    thead,
    tr {
      display: flex;
      align-items: center;
    }

    th,
    td {
      padding: 0.25rem;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
    }

    th {
      font-size: 0.95rem;
      font-weight: 600;

      &.logo {
        text-align: center;
      }
    }

    td {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--color-devsu-300);

      &.logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 3rem;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.25rem;
    box-sizing: border-box;
    background: var(--background-devsu-500);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-devsu-4);
  }
}
