<header>
  <div class="catalog-products__search">
    <input-field placeholder="Search..." [formControl]="filterControl">
    </input-field>
  </div>

  <button (click)="goFormProductForCreate()">Agregar</button>
</header>

<section>
  <table>
    <thead>
      <th class="logo">Logo</th>
      <th>Nombre del producto</th>
      <th>Descripción</th>
      <th>Fecha de liberación</th>
      <th>Fecha de reestructuración</th>
      <th class="action"></th>
    </thead>

    <tbody>
      <tr *ngFor="let product of results">
        <td class="logo">
          <img [src]="product.logo" />
        </td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.releaseDateFormat}}</td>
        <td>{{product.revisionDateFormat}}</td>
        <td class="action">
          <icon value="more-vertical"></icon>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<footer>
  <pagination
    [suggestions]="(catalog || [])"
    [count]="counterControl.value"
    label="productos(s)"
    [filter]="filterControl.value"
    (results)="onPagination($event)"
  >
  </pagination>

  <div>
    <select-field [suggestions]="counters" [formControl]="counterControl">
    </select-field>
  </div>
</footer>
