icon {
  position: relative;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;

  .icon {
    &__content {
      width: inherit;
      height: inherit;
      line-height: inherit;
      font-size: inherit;

      &--skeleton {
        background: var(--background-devsu-300);
        border-radius: 0.25rem;
      }

      & > i {
        color: inherit;
        float: left;
        width: 100%;
        height: 100%;
        line-height: inherit;
        font-size: inherit;
      }
    }
  }
}
