<div class="form-product__card">
  <header>
    <label>Formulario de registro</label>
  </header>

  <section>
    <text-field [inputControl]="id">ID</text-field>

    <text-field [inputControl]="name">Nombre</text-field>

    <text-field [inputControl]="description">Descripción</text-field>

    <text-field [inputControl]="logo">Logo</text-field>

    <date-field [formControl]="releaseDate" [maxDate]="today">
      Fecha de liberación
    </date-field>

    <date-field
      [formControl]="revisionDate"
      [minDate]="releaseDate.value"
      [enabled]="releaseDate.value"
    >
      Fecha de revisión
    </date-field>
  </section>

  <footer>
    <button (click)="onReset()">Reiniciar</button>
    <button (click)="onSubmit()" [disabled]="form.invalid">Enviar</button>
  </footer>
</div>
