<div class="form-product__card">
  <header>
    <label>Formulario de registro</label>
  </header>

  <section>
    <div class="text-field-product-id">
      <text-field [inputControl]="id" [disabled]="!!product">ID</text-field>
      <label *ngIf="productIdInvalid"> ID no está disponible </label>
    </div>

    <text-field [inputControl]="name">Nombre</text-field>

    <text-field [inputControl]="description">Descripción</text-field>

    <text-field [inputControl]="logo">Logo</text-field>

    <date-field [formControl]="releaseDate" [maxDate]="today">
      Fecha de liberación
    </date-field>

    <date-field [formControl]="revisionDate" [enabled]="false">
      Fecha de revisión
    </date-field>
  </section>

  <footer>
    <button (click)="onReset()">Reiniciar</button>
    <button (click)="onSubmit()" [disabled]="form.invalid || productIdInvalid">
      Enviar
    </button>
  </footer>
</div>
