<div
  class="box-field__content"
  [class.box-field__content--active]="status.active"
  [class.box-field__content--disabled]="isDisabled"
  [class.date-field--selected]="!!value"
>
  <label class="box-field__label" [for]="elementId" *ngIf="label">
    <ng-content></ng-content>
  </label>

  <div class="box-field__component">
    <div class="box-field__body">
      <input
        class="date-field__control"
        type="text"
        [value]="description"
        [disabled]="status.disabled"
        readonly="true"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (click)="onClickInput()"
        (keydown)="onKeydownInput($event)"
      />

      <button
        class="date-field__action"
        (click)="onClickAction()"
        *ngIf="!isDisabled"
      >
        <icon [value]="iconAction"></icon>
      </button>
    </div>
  </div>
</div>
