<div class="pagination__content">
  <div class="pagination__actions">
    <button
      class="pagination__action button__action"
      [disabled]="isFirstPage"
      (click)="onClickFirst()"
    >
      <icon value="arrowhead-left"></icon>
    </button>

    <button
      class="pagination__action button__action"
      [disabled]="isFirstPage"
      (click)="onClickPrev()"
    >
      <icon value="arrow-ios-left"></icon>
    </button>
  </div>

  <div class="pagination__pages" [hidden]="isEmpty">
    <div
      class="pagination__page"
      *ngFor="let page of pages"
      [class.pagination__page--active]="page.status.active"
      (click)="onClickPage(page)"
    >
      {{ page.label }}
    </div>
  </div>

  <div class="pagination__description">{{ description }}</div>

  <div class="pagination__actions">
    <button
      class="pagination__action button__action"
      [disabled]="isLastPage"
      (click)="onClickNext()"
    >
      <icon value="arrow-ios-right"></icon>
    </button>

    <button
      class="pagination__action button__action"
      [disabled]="isLastPage"
      (click)="onClickLast()"
    >
      <icon value="arrowhead-right"></icon>
    </button>
  </div>
</div>
