<div
  class="box-field__content"
  [class.box-field__content--active]="status.active"
  [class.box-field__content--disabled]="status.disabled"
>
  <div class="box-field__component">
    <div class="box-field__body">
      <input
        class="list-field__control"
        type="text"
        [placeholder]="placeholder"
        [value]="suggestion"
        [disabled]="status.disabled"
        readonly="true"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (click)="onClickInput()"
        (keydown)="onKeydownInput($event)"
      />

      <button
        class="list-field__action"
        [class.list-field__action--show]="status.show"
        [disabled]="status.disabled"
        (click)="onClickAction()"
      >
        <icon value="arrow-ios-down"></icon>
      </button>
    </div>

    <div
      class="list-field__suggestions"
      [class.list-field__suggestions--show]="status.show"
      [class.list-field__suggestions--hide]="status.hide"
      [class.list-field__suggestions--higher]="isHigher"
      [class.list-field__suggestions--sheet]="sheetMode"
    >
      <ul class="list-field__ul">
        <ballot
          *ngFor="let element of suggestions"
          class="list-field__element"
          tabindex="-1"
          [initials]="element?.initials"
          [photo]="element?.photo"
          [subtitle]="element?.subtitle"
          (click)="onSelect(element)"
          (keydown)="onKeydownElement($event, element)"
        >
          {{ element?.title }}
        </ballot>

        <div *ngIf="!suggestions.length" class="list-field__empty">
          <div class="list-field__empty__description">
            <label class="label-bold truncate"> Selección no disponible </label>
            <label class="caption-regular">
              Lo sentimos, en el momento no hay elementos en el listado
            </label>
          </div>
        </div>
      </ul>

      <div class="list-field__backdrop" (click)="onClickBackdrop()"></div>
    </div>
  </div>
</div>
